body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  margin: 1em;
}
h2 {
  margin: 2em;
  text-align: center;
}
h3 {
  text-align: center;
}

#splash {
  background: url('/public/champagne.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}
.rsvp-btn {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 50px; /* Rounded corners */
  border: 0.25em solid #e8ca6f;
  color: #e8ca6f;
  background-color: transparent;
  cursor: pointer;
}

.rsvp-btn:hover {
  color: #fff; /* Change text color on hover */
  background: #e8ca6f;
}

#rsvpForm {
  text-align: center;
}

.form-group {
  text-align: left;
}

.scroll-down-arrow {
  position: absolute;
  color: #fff;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}